/* Food Reporting System */

/*  sans-serif fonts are easier to read on-screen */
body, p, td {font-family: verdana, arial, sans-serif; font-size: 10pt; }
body {
	background: #787BAA url(images/background.gif) repeat-x;
}
/** {margin:0}*/
a:link {color: #0000FF}
a:visited {color: #800080}
a:hover {color: #FF0000}
a:active {color: #0000FF}

#container{
	position:absolute;
	width:900px;
	/*border: 1px solid black;*/
	left:30px;
	top:30px;
}

#intervalSelection{
	border: 1px solid #777777;
	width: 900px;
	height: 450px;
	position:relative; 
	/*left:50px;
	top:30px;*/
}

#resultsDiv{
	max-height: 240px;
	position:relative;
	border: 1px solid #777777;
	border-top: none;
	width: 900px;
	overflow:auto;
	text-align:center;
	padding-top:20px;
	padding-bottom:20px;
	/*left:50px; 
	top:550px;*/
}

#bottomDiv{
	border: 1px solid #777777;
	border-top: none;
	width: 900px;
	height: 35px;
	position:relative; 
	/*left:50px; 
	top:482px;*/
}

/* END */

/* Manage.php */
#content{
	border: 1px solid #CCCCCC;
	width: 900px;
	height: 558px;
	position:relative; 
	left:50px; 
	top:0px;
	text-align: center;
}

.tc{
	padding-left:10px;
	padding-right:10px;
}

/* END */

.controls{
	height: 30px;
}

.toggleDown{
	background-color: #888888;
	border-collapse: collapse;
	border: grey thin inset;
}

#Search_Results
{
	border: #090858 thin inset; /* Dark Blue: #090858 | Light Blue: #5777c4 */
	border-collapse: collapse;
	width: 95%;
	text-align:center;
}

#Search_Results th
{
	font-size:75%;
	background-color: #5777c4;
	color: #ffffff;	
	padding: 3px 4px 3px 4px;
}

#Search_Results tr
{
	border: #090858 thin inset
	
}
